.text-content {
    text-align: left; /* Left align the text content */
    margin-bottom: 20px; /* Add some space below the text */
    width: 100%; /* Ensure the text section takes up the full width */
  }  

/* Flexbox layout for the slider and map container */
.slider-map-container {
  display: flex;            /* Enable Flexbox for alignment */
  justify-content: center;  /* Horizontally center items */
  align-items: center;      /* Vertically center items */
  gap: 10px;                /* Optional: Add space between items */
  flex-wrap: wrap;          /* Allow items to wrap on small screens */
  width: 100%;              /* Ensure the container takes up the full width */
  max-width: 1200px;        /* Optional: Optional max-width for the container */
  margin: 0 auto;           /* Center the container within the article */
}

/* Style for the iframe (map) */
.slider-map-container iframe {
  flex: 1; /* Allow iframe to take up available space */
  max-width: 100%; /* Ensure it stays responsive */
  min-width: 300px;
  min-height: 350px;
  height: auto; /* Adjust height proportionally to the width */
  object-fit: contain; /* Prevent the image from being cut off */
}

.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.splide__slide {
  opacity: 0.6;
}

.splide-gallery {
  min-width: 300px;
  height:auto

}