.text-content {
    text-align: left; /* Left align the text content */
    margin-bottom: 20px; /* Add some space below the text */
    width: 100%; /* Ensure the text section takes up the full width */
  }  

/* Flexbox layout for the slider and map container */
.slider-map-container {
  display: flex;            /* Enable Flexbox for alignment */
  justify-content: center;  /* Horizontally center items */
  align-items: center;      /* Vertically center items */
  gap: 10px;                /* Optional: Add space between items */
  flex-wrap: wrap;          /* Allow items to wrap on small screens */
  width: 100%;              /* Ensure the container takes up the full width */
  max-width: 1200px;        /* Optional: Optional max-width for the container */
  margin: 0 auto;           /* Center the container within the article */
}

/* Style for the iframe (map) */
.slider-map-container iframe {
  flex: 1; /* Allow iframe to take up available space */
  max-width: 100%; /* Ensure it stays responsive */
  min-height: 350px;
  object-fit: contain; /* Prevent the image from being cut off */
}


.splide__slide img {
  opacity: 0.6;
  width: 100%; /* Ensure it stays responsive */
  height:auto;
  object-fit: contain;
  border-radius: 10px;
}

.splide__slide.is-active img{
  opacity: 1;
}

.splide .main-gallery{
  height:auto;
}

.splide-gallery{
  width: 100%; /* Ensure it stays responsive */
  max-width: 500px;
  height:auto !important;
  object-fit: contain;
  justify-content: center;
}
.splide__slide{
  background-size: contain !important;
  padding: 0px;
}

.splide__arrows{
  width: 100%;
  height: auto;
  width: fit-content; /* Adapts to image size */
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}



.main-gallery .splide__track{
  border-radius: 20px;
}

.splide.thumbnail-gallery{
  width: 80%;
}


.thumbnail-gallery {
  width: 80%;  /* Reducing the thumbnail slider by 80% */
  margin: 0 auto;  /* Center it within the splide-gallery */
}